.section.contact-section {
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 250px;

  .content-wrapper {
    background: url('../../assets/img/contact-bg.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-align: center;
      color: $color-white;
      max-width: 100%;
      padding: 0 20px;

      h2 {
        font-size: 9rem;
        font-weight: bold;
        line-height: 13.5rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-family: $font-proxima-nova;
        font-size: 3rem;
        line-height: 3.7rem;
        color: #e0e0e0;
        font-weight: lighter;
        margin-bottom: 9.5rem;
      }

      .input-wrapper {
        background-color: $color-white;
        border-radius: 30px;
        padding: 2px;
        width: 600px;
        max-width: 100%;
        position: relative;
        display: inline-block;

        .form-btn {
          border-radius: 26px;
          background-color: #FF7C00;
          width: 110px;
          font-size: 2rem;
          font-weight: bold;
          line-height: 49px;
          color: $color-white;
          text-transform: uppercase;
          border: 0;
          outline: 0;
          cursor: pointer;
        }

        .field {
          height: 55px;
          border: 0;
          outline: 0;
          font-size: 2rem;
          width: calc(100% - 132px);
          background-color: $color-white !important;
          margin-left: 12px;
          border-radius: 26px;

          &::placeholder {
            color: #a8a8a8;
          }
        }
      }
    }
  }

  footer {
    position: absolute;
    height: 250px;
    bottom: 0;
    display: table;
    width: 100%;
    padding: 0 10%;

    .footer-left,
    .footer-right {
      display: table-cell;
      vertical-align: middle;
      color: #6a6a6a;
    }

    .footer-right {
      text-align: right;

      .fa {
        margin: 8px;
        font-size: 3.5rem;
        color: $color-black;
      }
    }

    .footer-left {
      .green-light {
        max-width: 380px;

        img {
          max-width: 100%;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.4rem;
          line-height: 1.8rem;
          margin-bottom: 1.5rem;
        }

        a {
          color: #6a6a6a;
          font-family: $font-europa;
          font-size: 1.4rem;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-bottom: 100px;

    .content-wrapper {
      .content {
        width: 600px;
        max-width: 100%;

        h2 {
          font-size: 4.5rem;
          font-weight: bold;
          line-height: 6.5rem;
          margin-bottom: 1rem;
        }

        h3 {
          font-family: $font-proxima-nova;
          font-size: 2rem;
          line-height: 2.5rem;
          color: #e0e0e0;
          font-weight: lighter;
          margin-bottom: 3rem;
        }

        .input-wrapper {
          background-color: $color-white;
          border-radius: 30px;
          padding: 2px;
          width: 100%;
          position: relative;
          display: inline-block;

          .form-btn {
            border-radius: 26px;
            background-color: #FF7C00;
            width: 110px;
            font-size: 2rem;
            font-weight: bold;
            line-height: 49px;
            color: $color-white;
            text-transform: uppercase;
            border: 0;
            outline: 0;
            cursor: pointer;
          }

          .field {
            height: 55px;
            border: 0;
            outline: 0;
            font-size: 2rem;
            width: calc(100% - 132px);
            background-color: $color-white !important;
            margin-left: 12px;
            border-radius: 26px;

            &::placeholder {
              color: #a8a8a8;
            }
          }
        }
      }
    }

    footer {
      height: 100px;
      padding: 0 20px;

      .footer-left,
      .footer-right {
        display: block;
        text-align: left;
      }

      .footer-right .fa {
        margin: 4px 8px 0 -4px;
        font-size: 2rem;
        color: $color-black;
      }

      .footer-left {
        .green-light {
          max-width: none;

          img {
            max-width: 100%;
            margin: 1.8rem 0 0.9rem 0;
          }

          p,
          a {
            display: none;
          }
        }
      }
    }
  }
}
