.section.why-quest-section {
  color: $color-white;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    background: url('../../assets/img/quest-bg.png') no-repeat center $color-primary;
    background-size: cover;
    animation: zoom 30s infinite ease-in-out;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../../assets/img/quest-bg@2x.png');
    }
  }

  h2.slide-heading {
    color: $color-gray;
    text-align: center;
    font-family: $font-europa;
    font-size: 5.5rem;
    line-height: 5.5rem;
    font-weight: bold;
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    z-index: 1029;
  }

  .slide {
    position: relative;

    .panel {
      margin: auto;
      color: $color-white;
      background-color: rgba(#ff8c20, .6);
      box-shadow: 49px 44px 62px -12px rgba(117, 57, 0 , .4);
      border-radius: 14px;
      padding: 60px 40px;
      width: 920px;
      max-width: 100%;

      h3 {
        font-family: $font-europa;
        font-size: 8.6rem;
        line-height: 8.6rem;
        font-weight: bold;
        position: relative;
        left: calc(-40px - 8rem);
        margin-bottom: 3rem;
        text-shadow: 25px 30px 46px #bc5c01;
      }

      h4 {
        font-weight: lighter;
        font-size: 4.5rem;
        line-height: 6.5rem;
      }
    }
  }

  .fp-slidesNav.bottom {
    text-align: center;
    bottom: 70px;

    ul li {
      margin: 0 15px;

      a {
        left: -12px;

        span {
          border-radius: 3px;
          background: $color-white;
          opacity: .5;
          width: 25px;
          height: 3px;
          margin: 0;
          transition: opacity .2s linear;
        }

        &.active, &:hover {
          span {
            opacity: 1;
          }
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    h2.slide-heading {
      font-size: 3rem;
      line-height: 3rem;
      top: 15%;
    }

    .fp-slidesNav.bottom {
      bottom: 40px;
    }

    .slide {
      padding: 0 20px;

      .panel {
        border-radius: 14px;
        padding: 30px 20px;
        width: 920px;
        max-width: 100%;

        h3 {
          font-family: $font-europa;
          font-size: 3rem;
          line-height: 3rem;
          font-weight: bold;
          position: relative;
          left: auto;
          margin-bottom: 4rem;
        }

        h4 {
          font-weight: lighter;
          font-size: 2rem;
          line-height: 3rem;
        }
      }
    }
  }
}
