html {
  font-size: 10px;

  body {
    font-size: 1.3rem;

    h1 {
      font-size: 3.4rem;
      color: #333;
    }

    .container {
      &.main-container {
        padding-top: 80px;
      }
    }
  }
}
